#canvEl {
  width: 50%;
  height: 50%;
}

.test-face {
  width: 100px;
  height: 100px;
  background-image: url("../../assets/head.png");
  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
